.gradient-custom-2 {
    /* fallback for old browsers */
    background: #0f012b;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgb(40, 0, 121),
      rgb(0, 33, 95)
    );
  
    background: linear-gradient(
      to right,
      rgb(35, 0, 106),
      rgb(0, 11, 31)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  .ml-5{
    margin-left: 5px;
  }
  
  .ml-50{
    margin-left: 50px;
  }


  .mt-150x{
    margin-top: 150px !important;
  }

  .mt-250x{
    margin-top: 250px !important;
  }
  
  .ReactModal__Overlay{
    background-color: rgba(26, 2, 67, 0.883) !important;
  }
